@charset 'utf-8';

/* footer start */
#footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:1.333rem;
    background-color:#f8f8f8;
    z-index:999;
}
#footer .f-home{
    float:left;
    width:1.333rem;
    height:1.333rem;
    line-height: 1.333rem;
    text-align:center;
    background-color:#fff;
}
#footer .f-home i{
    font-size:0.6rem;
}
#footer .f-ul{
    float:left;
    height:1.333rem;
}
#footer .f-ul > li{
    float:left;
    margin-left:0.018rem;
    width:2.868rem;
    height:1.333rem;
    line-height: 1.333rem;
    text-align:center;
    background-color:#fff;
}
#footer .f-ul > li > a{
    display: block;
    width:100%;
    height:100%;
}
#footer .f-ul > li > a >i{
    position: relative;
    font-size:0.3rem;
}
#footer .f-ul > li > a > span{
    font-size:0.4rem;
}
/* footer end */